.contact {
  position: relative;
  top: 40px;
  align-content: center;
  left: 30px;
  border: 2px solid  #00B6B3;
  border-radius: 10px;
  padding: 50px;
  width: 50%;
}

h1 {
  color: #00A582;
  font-family: arial;
  font-size: 64px;
}

.tile {
  color: white;
  font-family: arial;
  font-size: 32px;
  align-items: center;
  position: relative;
  top: 20px;
  right: 10px;
  border: 3px solid #F19F86;
  border-radius: 10px;
  padding: 50px;
  width: 50%;
  background-color: white;
  opacity: 0.8;

}

#link {
  background-color: #00A582;
  color: white;
  border: 100px;
  border-radius: 50px;
  border-width: 100%;
  font-size: 48px;
}


.new {
  position: relative;
  left: 50px;
  top: 50px;
}


#newbtn {
  position: relative;
  top: 100px;
  left: 400px;
}

.links {
  position: relative;
  top: 60px;
  left: 30px;
  font-size: 24px;
}

img {
  position: relative;
  left: 600px;
  height: 150px;
  width: 270px;
  top: -30px;
}

body {
  background: #000000
  url(http://clipgoo.com/daut/as/f/7/7-ways-the-decor-of-a-hipster-bar-reminds-you-your-exposed-brick-is-staple-any-montreal-apartment-or-comedy-club-it-gives-that-e2-80-9chey-were-inside-but-also-feels-like_brick-interior-walls-house_in.jpg) 100% 100%;
}

footer {
  top: 0px;
  height: 10px;
  width: 25%;
  color: white;
}

.jumbotron {
  background: url(https://lh3.googleusercontent.com/X8bZcdPKF2YjEt1jUDGfFoeZVuc1_hHfFa3njw2-p6PtE5C8-Q0eviYLwJM81NOUe0jauDK2hlzolUjkMCI29X4L8Yw_myLLhw=s1920) 100% 100% no-repeat;
  top: 10px;
  color: white;
}
.details {
  color: white;
  font-size: 32px;
  border: 3px solid white;
  width: 50%
}

.more {
  color: white;
}

.newrent {
  color: white;
  font-size: 32px;
  align-items: center;
}

.form-group {
  color: white;
  align-items: center;
}
