<h1> Welcome to Super Rentals </h1>

<p>We hope you find exactly what you're looking for in a place to stay.</p>
<ul>
  {{#each model as | rental|}}
  {{rental-tile rental=rental}}
  {{/each}}
</ul>

{{new-rental saveRental2="saveRental3"}}
<div class="links">
{{#link-to 'about'}}<u><strong>About</strong></u>{{/link-to}}
{{#link-to 'contact'}}<u>Click here to contact us.</u>{{/link-to}}
</div>
